CONFIG_ARM=y
CONFIG_ARCH_HAILO=y
CONFIG_TARGET_HAILO15L_OREGANO=y
CONFIG_DEFAULT_DEVICE_TREE="hailo15l-oregano"
CONFIG_SPI_FLASH_STMICRO=y
# CONFIG_ENV_IS_IN_MMC is not set
# CONFIG_SPL_ENV_IS_IN_MMC is not set
CONFIG_SPL_ENV_IS_NOWHERE=y
CONFIG_ENV_IS_NOWHERE=y