CONFIG_ARM=y
CONFIG_ARCH_HAILO=y
CONFIG_TARGET_HAILO15L_SBC=y
CONFIG_DEFAULT_DEVICE_TREE="hailo15l-sbc"
CONFIG_SPI_FLASH_ISSI=y
# CONFIG_ENV_IS_IN_MMC is not set
# CONFIG_SPL_ENV_IS_IN_MMC is not set
# CONFIG_SPL_MMC is not set
CONFIG_SPL_ENV_IS_NOWHERE=y
CONFIG_ENV_IS_NOWHERE=y
CONFIG_SPL_LOAD_FIT_ADDRESS=0x70080000
